{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<br>
<h2>Panier</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Quantite</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th scope="row"><a href="product/{{product.id}}">{{product.name}}</a></th>
                <td>{{product.quantite}}</td>
                <td>{{product.price}} €</td>
                <td>
                    <form action="{{path('cart.delete', {id : product.id})}}" onsubmit="return confirm('Etes-vous sûr de supprimer ce produit ?')">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="btn btn-danger" type="submit" value="Supprimer">
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="4">Total : {{total}} €</th>
        </tr>
    </tbody>
</table>

<div class="col col-lg-4">
    {{ form_start(commandForm) }}
        <div class="form-group">
            <label for="article_title">Email</label>
            {{ form_widget(commandForm.email) }}
            <small class="text-danger">
                {{ form_errors(commandForm.email) }}
            </small>
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            Commander
        </button>

        {{ form_errors(commandForm) }}
    {{ form_end(commandForm) }}
</div>

{% for message in app.flashes('alert-success') %}
    <div role="alert" class="alert alert-success mt-4">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('alert-error') %}
    <div role="alert" class="alert alert-danger mt-4">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}
