{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<br>
<h2>Liste des produits</h2>
<br>
<table class="table">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Description</th>
        <th scope="col">Créé le</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <th scope="row"><a href="product/{{product.id}}">{{product.name}}</a></th>
                <td>{{product.price}} €</td>
                <td>{{ product.description|slice(0, 80) ~ '...'}} <a href="product/{{product.id}}">voir plus</a></td>
                <td>{{product.createdAt | date('d/m/Y')}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
